---
import AboutHeroImage from '../assets/nick-noreña.jpeg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About the author and what he does"
	pubDate={new Date('Feb 10 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi there, I'm Nick Noreña, and I write about the intersection of people, purpose, and product.
	</p>

	<p>
		As a child of the 90s, I had a great vantage point for watching the internet and consumer software proliferate across businesses and households. From playing minesweeper on my family's Compaq, to chatting with friends on AIM ("theyankeeswin1111" for the curious), I got sucked into the global experiment exploring how people interacted with software.
	</p>

	<p>
		My faithful participation in this experiment continued through college, where I started to think more deeply about my values, my mission, and my purpose. I was motivated to better understand why people do the things they do and ended up studying comparitive religious studies. During that time, my relationship with the technology I loved so much became more complex. All of a sudden I started to feel moments of regret after the delight that software brought. I began to appreciate that there were often two sides to the products that I and the people around me used.

	<p>
		After a brief stint working in the outdoor industry, I moved to San Francisco to start my journey in the tech and tech-adjacent industries, first as a founder of a mobile app startup, then as an innovation consultant teaching entrepreneurial tools, finally landing as a product manager helping teams build the right products, for the right people, in the right ways. Throughout this journey, the complexity of my relationships with software and digital products only increased as I got more and more familiar with what goes on under the hood. I saw cloud computing and social media lower the cost of creation and connection, enabling people to do extraordinary - and deplorable - things.
	</p>

	<p>
		Nowadays, it's easier than ever to generate software, and I think it will only continue to get easier. AI has permanently changed the landscape of the software industry, and my hope is that it's for the better, but I'm not waiting around to see. I want to be a part of a world where people who lead with purpose and think deeply about what their communities need can build products that positively impact the world around them. If you want to follow along my work, come connect with me on <a href="https://www.linkedin.com/in/nicknorena/">LinkedIn</a>, or check out what my team and I are doing at <a href="https://www.crowflies.dev">Crow Flies</a>.
</Layout>
