---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Reader!</h1>
			<p>
			    Welcome to <b>People/Purpose/Product</b>, a blog about building products that actually serve people.
			</p>
			<p>
                <b>Here's the opportunity:</b> we're entering a world where anyone can build digital products. And whether you're deep in the tech world looking to build differently, or you're just beginning and want to avoid repeating broken patterns, emerging tools give you a chance to avoid repeating the same extractive patterns we see all over the software industry.
			</p>
			<p>
				<b>This blog is a translation layer.</b> I'm here to share what's working and what's not when it comes to building for impact, and to bridge the humanities and technology. If you can imagine a product that genuinely serves people, you're getting closer to being able to build it, and I want that to be a good thing.
			</p>
			<p>
				If you believe software can create genuine social impact, this space is for you. If my team and I can help make that a reality, drop us a line at <a href="https://crowflies.dev/">As The Crow Flies</a>
			</p>

		</main>
		<Footer />
	</body>
</html>


			<!-- <p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This template
				serves as a lightweight, minimally-styled starting point for anyone looking to build a personal
				website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p> -->